/* placeholder */
.hide {
  display: none;
}
.look {
  display: block;
}
.placeholder-my {
  height: 400px;
}
/* img */
.hidden {
  height: 0px;
  opacity: 0;
}
.show {
  height: auto;
  opacity: 1;
}
/* default datepicker */
.datepicker table tr td.day:hover {
  color: var(--bs-primary);
}
