.hide {
  display: none;
}
.look {
  display: block;
}

.hidden {
  height: 0px;
  opacity: 0;
}
.show {
  height: auto;
  opacity: 1;
}
.placeholder-my {
  height: 400px;
}

.datepicker table tr td.day:hover {
  color: var(--bs-primary);
}
